html{
    height: 100vh;
}
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-image: url(resources/LBR.png);
}
form {
    background-color: #fff;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px ;
    padding-bottom: 60px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    max-width: 900px;
    
}
h2{
    text-align: center;
}
/* input */
input[type="text"] {
    width: 40%;
    padding: 10px;
    margin-left: 30px;

}
input[type="submit"] {
    background-color: #33ae73;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}
input::placeholder {
    color: #747070;
}
input[type="checkbox"],input[type="radio"] {
    margin: 5px 0;
}
select{
    width: 89%;
}

/* class */
.genid{
    display: grid; 
    grid-template-columns: 1fr 1fr;
}
.Gender {
    margin-top: 10px;
    margin-left: 30px;
    width: 40%;
}
.faculty{
    margin-left: 12px;
    margin-top: -52px;
}

/* id */
#studentid{
    height: 20px;
    width: 80%;
    margin-top: 10px;
    margin-left: 12px;
}
